---
layout: default
title: index
categories: 
  - Open Networking  
  - Open Servers  
  - Open Storage  
  - Select Business Critical  
  - Select Networking  
  - Select Servers  
  - Select Software  
  - Select Storage
  - Services
---

<div class="container">
	<div class="media">
		<div class="media-left col-xs-4">
		<a href="#">
		<img class="media-object img-fluid" src="https://www.tsa.com/assets/img/content/TSA-Canonical.jpg" alt="Logo">
		</a>
		</div>
		<div class="media-body">
		<h1 class="media-heading">New Deal Registration</h1>
		</div>
	</div>
	<p class="lead">Fill this form out or Corey will disable your badge.</p>

	<h3>General Info</h3>
	<div class="row">
	
	</div>

	<h3>Opportunity Info</h3>
	<div class="row">
		<div class="col-sm-4">.col-sm-4</div>
		<div class="col-sm-4">.col-sm-4</div>
		<div class="col-sm-4">.col-sm-4</div>
	</div>
	
	{% for category in page.categories %}
	<h3>{{category}}</h3>
	<div class="row">
		<div class="form-group col-xs-4">
			<select class="form-control" id="categorySelect">
			{% for subcategory in site.data.categories %}
			<option>{{subcategory}}</option>
			{%endfor%}
			</select>
  		</div>
  		<div class="form-group col-xs-4">
  			<div class="input-group">
				<div class="input-group-addon">$</div>
				<input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
				<div class="input-group-addon">k</div>
			</div>
  		</div>
  		<button type="submit" class="btn btn-primary col-xs-1">+</button>
	</div>
	{% endfor %}
</div>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
